{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center mb-4">Buy Stock</h2>
                <form action="/buy" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="symbol">Stock Symbol</label>
                        <div class="input-group">
                            <span class="input-group-text bg-secondary border-secondary text-white">
                                <i class="fas fa-search"></i>
                            </span>
                            <input autocomplete="off" autofocus class="form-control" id="symbol" name="symbol" placeholder="Enter stock symbol" type="text">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="shares">Number of Shares</label>
                        <div class="input-group">
                            <span class="input-group-text bg-secondary border-secondary text-white">
                                <i class="fas fa-hashtag"></i>
                            </span>
                            <input class="form-control" id="shares" min="1" name="shares" placeholder="Enter quantity" type="number">
                        </div>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Place Order</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 